.logo {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  margin: 0;
  background-image: url("../../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 140px;
  height: 30px;
}
